.skills-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    height: 700px;  /*Mudar a altura conforme aumentar as habilidades*/
}

.skills-header {
    text-align: center;
    margin-bottom: 40px;
}

.skills-header p {
    font-size: 20px;
    color: #7f8c8d;
    margin-bottom: 0;
}

.skills-header h1 {
    font-size: 60px;
    color: rgb(5, 108, 242);
    margin-bottom: 10px;
    margin-top: 0;
}

.grid-skill {
    display: grid;
    grid-template-columns: repeat(6, 120px) ;
    grid-template-rows: repeat(6, 120px);
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    gap: 20px;
}

.skill_item {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    font-size: 17px; 
    border-radius: 8px;
    transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.skill_item:hover {
    transition-duration: 0.7s;
    border: 1px rgb(5, 108, 242) solid ;
    color: rgb(5, 108, 242);
    cursor: pointer;
    transform: translateY(-8px);
}

.skill_item i {
    margin-top: 8px;
    font-size: 40px;
    text-align: center;
}

.skill_item p {
    margin-top: 7px;
    text-align: center;
    font-size: 15px;
}
